.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  div {
    justify-content: center;
    width: 800px;

    p {
      margin-bottom: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
      color: white;
    }

    h1 {
      margin-bottom: 50px;
    }

    img {
      width: 800px;
      padding: 50px;
    }
  }
}
